body{
  text-align: center;
}
.container_four{
  background:#D6C2FF;
  float:none;
  text-align:center;
}
.container_four h1{
  color:#0099CC;
}

.know{
  background:#009933;
  height: auto;
}
.contain{
  background:rgba(168, 255, 255, 0.2);
  width:500px;
  height:auto;
  margin:auto;

  border-radius: 3px 4px 5px 6px;
  padding:25px;
}
.end{
  background:#FFCC66;
  height: auto;
}
img photo{
  float:right;
  height:100px;
  width:100px;
}
