body{
  text-align: center;
  background:url('../img/ny.png')no-repeat center center fixed;

}
h1{
  color:white;
  text-shadow: 2px 2px black;
  font-family: 'Slabo 27px', serif;
}
p{
  font-family: 'Slabo 27px', serif;
}
.container_four{
  background:#66C266;
  float:none;
  text-align:center;
}
.container_four h1{
  color:#0099CC;
}

.know{
  height: auto;
}
.know h4{
  color:white;
}
.contain{
  background:rgba(22, 23, 23, 0.5);
  /*width:500px;*/
  height:auto;
  margin:auto;
  border-radius: 3px 4px 5px 6px;
  padding:25px;
}
.end{
  background:#FFCC66;
  height: auto;
}
img photo{
  float:right;
  height:100px;
  width:100px;
}
   @media (max-width: 500px) {
     .contain{
      width:340px;
     }
    }
