body{
  background:white;
}
.container_one{
  background: white;
  padding-left: 30px;
}
.container_one p{
  padding-left: 150px;
}
.alchemist{
  display: none;
}
.container_two{
  background:url('../img/williamsburgBridge.png')no-repeat center center fixed;
  color:white;
  text-align:center;
  /*text-shadow: 2px 2px black;*/
}
.box{
  background-color: rgba(0, 0, 0, 0.4);
  width:700px;
  height:auto;
  margin:auto;
  border-radius: 3px 4px 5px 6px;
  padding:25px;
}
.container_two h1{
  color:white;
  text-shadow: 2px 2px black;
}
.container_two h4{
  color:black;
}


.container_three{
  text-align:center;
}
.container_four{
  text-align:center;
}
.container_four h1{
  color:#0099CC;
}
   @media (max-width: 600px) {
     .box{
      width:350px;
     }
    }

